.textAreaBox {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label {
  color: var(--black-color);
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.textAreaBox textarea {
  /* padding: 12px 0px; */

  font-size: 13px;
  resize: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
  background-color: var(--white-color);
  outline: 0px;
  /* border: 1px solid var(--light-gray); */
  border: 1px solid var(--field-border-color) !important;
  border: 0px;
  border-radius: 10px;
}

.textAreaBox textarea::placeholder {
  color: var(--black-color) !important;
  padding-left: 10px;
  opacity: 0.5;
  font-weight: 400;
}

.labelDisabled {
  color: var(--disabled-label-color);
}

.errorText {
  color: red;
  font-size: 15px;
}
