.child {
    background-color: var(--white-color);
    height: calc(100vh - 80px);
    overflow-x: hidden;
    
}

.subChild{
    display: flex;
    height: 100%;
}



.sidebar{
    width: 280px;
    padding: 0px 20px;
    border-right: 1px solid var(--gray-color);

}


.children{
    padding: 30px 20px 0px;
    flex: 1;
    overflow: auto;
    position: relative;
}


.children::-webkit-scrollbar {
    width: 5px;  
}

.children::-webkit-scrollbar-thumb {
    background: var(--royal-navy-blue); 
    border-radius: 10px;  
}