.tableMainContainer {
  width: 100%;
  position: relative;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  /* margin-block: 10px; */
  background: var(--white-color);
  border-radius: 0 0 8px 8px;
  height: auto; /*changed */
  overflow-y: auto;
  padding-left: 0px !important;
}
.tableMainContainer table {
  width: 100%;
  border-collapse: collapse;
}

.tableMainContainer::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.tableMainContainer::-webkit-scrollbar-track {
  background: var(--Pale-Peach);
  border-radius: 5px;
}

/* Handle */
.tableMainContainer::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5px;
}
.tableHeaderContainer th {
  color: var(--doveGray);
  text-transform: uppercase;

}

.tableBodyContainer {
}

.tableHeaderContainer th {
  color: var(--black-color);
  opacity: 0.5;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 19.137px; /* 159.475% */
  /* border-top: 1px solid var(--light-gray) !important; */
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important;
  border-bottom: 1px solid var(--light-gray) !important;

}

.tableBodyContainer td {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.137px; /* 147.208% */
}

.tableHeaderContainer th,
.tableBodyContainer td {
  padding-block: 15px;
  white-space: pre-line;
  border-bottom: 1px solid var(--gray-neutral-color);
  padding-right: 10px;
  font-size: 12px;
  font-weight: 400;
  font-family: var(--inter);
  width: 20%;
}

.tableHeaderContainer th:first-child,
.tableBodyContainer td:first-child {
  padding-right: 0;
  padding-left: 10px;
}

.tableBodyContainer {
  width: 100%;
  height: calc(100% - 75px);
}

.tableBodyContainer td {
  color: var(--black);
}

.noData{
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}